extends layouts/main

block content
    .form-container
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            |Upload Video
            input(type="file", id="file", placeholder="Choose Video", name="videoFile", required=true, accept="video/*")
            input(type="text", placeholder="Name of Video", name="title", required=true)
            input(type="text", placeholder="Description", name="description", required=true)
            input(type="submit", value="Upload Video")
        