extends layouts/main

block content
    .form-container
        form(action=`/videos${routes.upload}`, method="post")
            |Upload Video
            input(type="file", placeholder="Choose Video", name="video", required=true)
            input(type="text", placeholder="Name of Video", name="title", required=true)
            input(type="text-area", placeholder="Description", name="description", required=true)
            input(type="submit", value="Upload Video")
        